<!DOCTYPE html>
<html lang="en">
  <head><title>Completed</title>
    <style>body {margin-left: 50px; margin-top: 80px; width: 800px}</style>
  </head>
  <body>
    <h2>Completion code</h2>
    <p>
      Thank you for taking part in this study. Your completion code is <%= completionCode %>. Please copy+paste this into the MTurk window to claim payment.
    </p>
    <p>
      If you have any questions or complaints about the online experiment, please mail [name] at <a href='mailto:[email]' target = '_top'>[email]</a>
      You have the right to request withdrawal of your data, even though you have completed the survey. If you want us to discard your data, please email [name] at the above address before March 31st 2019.
    </p>
    <h3>Debriefing</h3>
    <p>The following is a brief description of the study, if you're interested in knowing.</p>
    <p>We often take note of others' opinions when making decisions, but rationally, it should matter whether those opinions are independent (gained from different sources) or dependent (grained from the same source). We varied the number of TV stations watched by the cartoon figures, and want to see how that affects your decisions.</p>
    <p>For the sake of full disclosure: we did not at any point claim that the towns we described were real. They were fictional towns with fictional inhabitants.</p>
    <p>If you want to be kept advised of the results published based on this research, please email the above researcher.</p>
  </body>
</html>
